---
layout: base
---

<div class="home">

    <p>I am <strong>Siavash Kavousi</strong>. I am a student of computer engineering department
        in Amirkabir University of Technology.
        You can see my resume <a href="{{ site.url }}/cv">here</a></p>

    <h1 class="page-heading">Posts</h1>

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

</div>
